@charset 'utf-8';

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body{
    background:black;
    font-family: 'DotGothic16', sans-serif;
}

.name-enter{
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    background:black; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    transition: all 0.3s; 
    z-index: 9999;
}

#startwrap{
    position:absolute;
    top: 25vh;
    right:0;
    left: 0;
    margin: auto;
}

#startlog{
    /* position: absolute;
    top: 25vh;  */
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    border:0px none;
}

#startlog >div{
    color:white;
    background: black;
    border:0px none;
}

#nameframe{
    color: white;
    font-family: 'DotGothic16', sans-serif;
    background-color:black;
    width: 100%;
    border: none;
    border-bottom: 3px solid white;
}

#namein{
    font-family: 'DotGothic16', sans-serif;
    outline: none;
    color: white;
    background: black;
}

#decide-button{
    display: block;
    font-family: 'DotGothic16', sans-serif;
    width: 100%;
}



#skip-button{
    display: block;
    font-family: 'DotGothic16', sans-serif;
    width: 100%;
}

#caution{
    /*position: absolute;
    top:50vh;*/
    margin-top: 10vh;
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    color: white;
    background: black;
}

.completed{

    opacity: 0;
    visibility: hidden;
}

.comment{
    width: 100%;
    height: 11.2vh;
    color: white;
    border: 3px solid white;
    border-radius: 3px;
}

#wrap{
    position: absolute;
    top: 10vh;
    right:0;
    left: 0;
    margin: auto;
}

#fight{
    width: 100%;
}

#escape{
    width: 100%;
}

.mes {
    display: none;
}
.active {
    display: block;
}

.display-none{
    display: none !important;
}