@charset 'utf-8';

body{
    background:black;
    font-family: 'DotGothic16', sans-serif;
}

.canvas {
    text-align: center;
}

.comment{
    width: 500px;
    height: 100px;
    position: absolute;
    top: 500px;
    right: 500px;
    background:black;
    border-radius: 10px;
    color: white;
    border-color: white;
    border-style:solid;
    border-width: 5px;
}

.name-enter{
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    background:black; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    transition: all 0.3s; 
    z-index: 9999;
}

#namein{
    color: white;
    background: black;
    border-color: white;
    border-style:solid;
    border-width: 5px;
}

#enter-button{
    background: black;
    border-color: white;
    color: white;
    border-style: solid;
    border-width: 5px;

}

#skip-button{
    position: absolute;
    top: 800px;
    right: 0px;
    background: black;
    border-color: white;
    color: white;
    border-style: solid;
    border-width: 5px;
}

.completed{

    opacity: 0;
    visibility: hidden;
}

.startlog{
    color: white; 
    position: absolute;
    top: 300px;
    right: 550px;
    font-family: 'DotGothic16', sans-serif;
}

.select{
    position: absolute;
    top:615px;
    right: 495px;
}

.mes {
    display: none;
}
.active {
    display: block;
}

#fight{
    width:240px ;
}

#escape{
    width: 240px;
}